

= link_to 'HOME', '/'
%br
= 'logged in as '+current_user.email
%br

%ul
  %li
    = link_to t('.logout'), destroy_user_session_path, :method => :delete
  %li
    = link_to 'login', user_session_path

