

= link_to 'HOME', '/'
%br
-#= if 
-#= 'logged in as '+current_user.email
%br

#nav_badges
  .badge
    = link_to t('.logout'), destroy_user_session_path, :method => :delete
  .badge
    = link_to 'login', user_session_path

